.app-container {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #490BAD 0%, #6B40B3 100%);
  color: #f4f4f4;
}

.title {
  text-align: center;
  font-size: 24px;
  /* color: #333; */
  margin-bottom: 20px;
}

.chatbox {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  height: 70vh;
  overflow-y: auto;
  position: relative;
}

.message {
  margin: 10px 0;
}

.user-message {
  text-align: right;
  color: #0056d2;
}

.bot-message {
  text-align: left;
  color: #333;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #0056d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #003a99;
}

.send-button.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
